{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "jsxSingleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always"
}
